body{
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
  margin: 0;
}

p{
    line-height: 2;
}

h1{
  font-size: 562.5%;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  margin: 50px auto 0;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin-top: 20px;
}

h3{
  color: #66BFBF;
}

hr{
  color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
  margin: 50px auto;
}

a{
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

a:hover{
  color: #EAF6F6;
}

.pro{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 150px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  top: 350px;
  left: 200px;
}

.top-container{
  position: relative;
  background-color: #EAF6F6;
  padding-top: 100px;
}

.profile{
  width: 30%;
  margin: 0 auto 30px;
}

.middle-container{
  margin: 50px auto;

}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.camera-image{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chillie-image{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #1199e);
  background-image: -moz-linear-gradient(top, #11cdd4, #1199e);
  background-image: -ms-linear-gradient(top, #11cdd4, #1199e);
  background-image: -o-linear-gradient(top, #11cdd4, #1199e);
  background-image: linear-gradient(to bottom, #11cdd4, #1199e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc480);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc480);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc480);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc480);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc480);
  text-decoration: none;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
